@use 'functions' as *;

@mixin fluid-text($max: 48, $min: 16) {
    font-size: fluid($max, $min);
}

@mixin fluid-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@mixin hide {
    visibility: hidden;
    opacity: 0;
}

@mixin show {
    visibility: visible;
    opacity: 1;
}

@mixin abs-cover {
    position: absolute;
    inset: 0;
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin visually-hidden {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    white-space: nowrap !important;
    border: 0 !important;
    clip-path: inset(100%) !important;
}

@mixin focus-visible {
    outline: 2px dashed var(--color-white);
    outline-offset: 4px;
    transition-duration: 0s !important;
}

@mixin disabled {
    opacity: 0.5;
    cursor: not-allowed;
}