:root {
    --color-white: #fff;
    --color-black: #000;
    --color-accent: #e50000;
    --color-gray: #808080;
    --font-family-base: 'Manrope';
    --container-width: #{$container-desktop-width};
    --container-padding-x: 16px;
    --transition-duration: 0.2s;
}